<div class="row" style="margin-top: 30px;">
	<div class="col-lg-8">
		<div class="list-group">
			<% children.each do |child| %>
			<a  class="list-group-item" href="<%= name %>/<%= child.name %>"><%= child.name %></a>
			<% end %>
		</div>
	</div>
	<div class="col-lg-4">
		<form action="<%= name %>" method="post">
			<input type="text" name="name" class="form-control" placeholder="Branch Name">
			<input type="submit" value="Create Branch" class="btn btn-primary" style="float:right;margin-top: 4px;">
		</form>
	</div>
</div>
<div class="row" style="margin-top: 30px;">
	<div class="col-lg-12 list-group">
                <% leafs.each do |leaf| %>
                	<a style="text-align:center;" href="#" class="list-group-item feed-panel"><img style="box-shadow: 0 0 5px #888;max-height:256px;" src="/uploads/<%= leaf.id %>_<%= leaf.filename %>" alt="<%= leaf.id %>_<%= leaf.filename %>">
                		<br/>
                		<%= leaf.description %>
                	</a>
                <% end %>
	</div>
</div>
