<div class="row" style="margin-top: 30px;">
	<div class="col-lg-8 list-group">
                <a href="#" class="list-group-item active">
                  Feed
                </a>
                <% leafs.each do |leaf| %>
                	<a style="text-align:center;" href="#" class="list-group-item"><img style="box-shadow: 0 0 5px #888;max-width:512px;" src="/uploads/<%= leaf.id %>_<%= leaf.filename %>" alt="<%= leaf.id %>_<%= leaf.filename %>">
                		<br/>
                		<%= leaf.description %>
                	</a>
                <% end %>
	</div>
	<div class="col-lg-4">
		<div class="list-group">
			<% children.each do |child| %>
			<a  class="list-group-item" href="<%= name %>/<%= child.name %>"><%= child.name %></a>
			<% end %>
		</div>
		<form action="<%= name %>" method="post">
			<input type="text" name="name" class="form-control" placeholder="Branch Name">
			<input type="submit" value="Create Branch" class="btn btn-primary">
		</form>
	</div>
</div>